body {
	/*font-size: 1.5em;*/
	font-family: Helvetica;
}

input, select, textarea {
	/*font-size: 22px;  1.5em; geht leider nicht, weil dann die Schrift nochmal groesser wird */
}

.err, .succ {
    font-weight: bolder;
}

.err {
	color: red;
}

.succ {
	color: green;
}
